#set($subject = "[CC] - $device.name: $elbObject.uniqueNumber ")
#set($sumKg = 0.0)
#foreach($catch in $elbObject.catches)
    #set($sumKg = $sumKg + $catch.speciesWeightKilograms)
#end
<!DOCTYPE html>
<html>
<body>
Сертификат за улов на ГКРСМ калкан GSA 29<br>
Номер: $elbObject.uniqueNumber<br>
<br>
Собственик: #{if}($elbObject.ownerName)$elbObject.ownerName#{else}-#{end}<br>
Телефон: #{if}($elbObject.ownerPhone)$elbObject.ownerPhone#{else}-#{end}<br>
<br>
Риболовен кораб: #{if}($device.name)$device.name#{else}-#{end}<br>
Външна Маркировка: #{if}($device.attributes.ext)$device.attributes.ext#{else}-#{end}<br>
Позивна: #{if}($device.attributes.callSign)$device.attributes.callSign#{else}-#{end}<br>
CFR Код: #{if}($device.attributes.cfr)$device.attributes.cfr#{else}-#{end}<br>
<br>
Пристанище на тръгване: #{if}($elbObject.departurePortName)$elbObject.departurePortName#{else}#{end}#{if}($elbObject.departurePortCountry), $elbObject.departurePortCountry#{else}#{end}<br>
Пристанище на разтоварване: #{if}($elbObject.landingPortName)$elbObject.landingPortName#{else}#{end}#{if}($elbObject.landingPortCountry), $elbObject.landingPortCountry#{else}#{end}<br>
<br>
Капитан/упълномощено лице: #{if}($driver.name)$driver.name#{else}-#{end}<br>
Номер на разрешително за риболов: #{if}($elbObject.fishingPermitNumber)$elbObject.fishingPermitNumber#{else}-#{end}<br>
Валидност: #{if}($elbObject.fishingPermitValidTo)$dateTool.format('yyyy-MM-dd HH:mm:ss', $elbObject.fishingPermitValidTo, $locale, $timezone)#{else}-#{end}<br>
Номер на специално разрешително за риболов: #{if}($elbObject.fishingCertificateNumber)$elbObject.fishingCertificateNumber#{else}-#{end}<br>
Валидност: #{if}($elbObject.fishingCertificateValidTo)$dateTool.format('yyyy-MM-dd HH:mm:ss', $elbObject.fishingCertificateValidTo, $locale, $timezone)#{else}#{end}<br>
<br>
Оценка на живото тегло (кг, общо): #{if}($sumKg > 0)$sumKg#{else}-#{end} кг.<br>
<br>
<a href="$webUrl/documents/catch-certificate/$elbObject.id?token=$token">Подробен преглед и принтиране на документ</a><br>
</body>
</html>
