#set($subject = "[PN-Cancellation] - $device.name: TRP-BGR-$elbObject.tripNumber ")
<!DOCTYPE html>
<html>
<body>
ОТМЯНА на Предварително уведомление за разтоварване на калкан към риболовен рейс TRP-BGR-$elbObject.tripNumber<br>
<br>
Риболовен кораб: #{if}($device.name)$device.name#{else}-#{end}<br>
Външна Маркировка: #{if}($device.attributes.ext)$device.attributes.ext#{else}-#{end}<br>
CFR Код: #{if}($device.attributes.cfr)$device.attributes.cfr#{else}-#{end}<br>
<br>
Капитан/упълномощено лице: #{if}($driver.name)$driver.name#{else}-#{end}<br>
Телефон: #{if}($driver.attributes.captainPhone)$driver.attributes.captainPhone#{else}-#{end}<br>
Имейл: #{if}($driver.attributes.captainEmail)$driver.attributes.captainEmail#{else}-#{end}<br>
<br>
<a href="$webUrl/documents/prior-notification/$elbObject.id?token=$token">Подробен преглед и принтиране на документ [ОТМЕНЕН]</a><br>
</body>
</html>