#set($subject = "[PN] - $device.name: TRP-BGR-$elbObject.tripNumber ")
#set($hasAbove = false)
#set($hasBelow = false)
#set($sumAboveKg = 0.0)
#set($sumBelowKg = 0.0)
#set($sumAboveCount = 0)
#set($sumBelowCount = 0)
#foreach($catch in $elbObject.catches)
    #if($catch.belowRegularSize == false)
        #set($hasAbove = true)
        #set($sumAboveKg = $sumAboveKg + $catch.speciesWeightKilograms)
        #set($sumAboveCount = $sumAboveCount + $catch.speciesWeightCount)
    #elseif($catch.belowRegularSize == true)
        #set($hasBelow = true)
        #set($sumBelowKg = $sumBelowKg + $catch.speciesWeightKilograms)
        #set($sumBelowCount = $sumBelowCount + $catch.speciesWeightCount)
    #end
#end
<!DOCTYPE html>
<html>
<body>
Предварително уведомление за разтоварване на калкан<br>
<br>
Риболовен кораб: #{if}($device.name)$device.name#{else}-#{end}<br>
Външна Маркировка: #{if}($device.attributes.ext)$device.attributes.ext#{else}-#{end}<br>
CFR Код: #{if}($device.attributes.cfr)$device.attributes.cfr#{else}-#{end}<br>
<br>
Капитан/упълномощено лице: #{if}($driver.name)$driver.name#{else}#{if}($elbObject.captainName)$elbObject.captainName#{else}-#{end}#{end}<br>
Телефон: #{if}($driver.attributes.captainPhone)$driver.attributes.captainPhone#{else}#{if}($elbObject.captainPhone)$elbObject.captainPhone#{else}-#{end}#{end}<br>
Имейл: #{if}($driver.attributes.captainEmail)$driver.attributes.captainEmail#{else}-#{end}<br>
<br>
Време на отпътуване: #{if}($elbObject.departureTime)$dateTool.format('yyyy-MM-dd HH:mm:ss', $elbObject.departureTime, $locale, $timezone)#{else}-#{end}<br>
От пристанище: #{if}($elbObject.departurePortName)$elbObject.departurePortName#{else}-#{end}<br>
    #{if}($elbObject.attributes.formattedLatitude && $elbObject.attributes.formattedLongitude)Местоположение: $elbObject.attributes.formattedLatitude, $elbObject.attributes.formattedLongitude#{else}#{end}<br>
<br>
Очаквано време на пристигане: #{if}($elbObject.estimatedTimeOfArrival)$dateTool.format('yyyy-MM-dd HH:mm:ss', $elbObject.estimatedTimeOfArrival, $locale, $timezone)#{else}-#{end}<br>
В пристанище: #{if}($elbObject.landingPortName)$elbObject.landingPortName#{else}-#{end}<br>
<br>
Наличие на улов над минимално допустимия размер: #{if}($hasAbove)Да#{else}Не#{end}<br>
    #{if}($sumAboveKg > 0)Общо приблизително оценено тегло: $sumAboveKg кг.#{else}#{end}<br>
    #{if}($sumAboveCount > 0)Общо брой риби: $sumAboveCount#{else}#{end}<br>
<br>
Наличие на улов под минимално допустимия размер: #{if}($hasBelow)Да#{else}Не#{end}<br>
    #{if}($sumBelowKg > 0)Общо приблизително оценено тегло: $sumBelowKg кг.#{else}#{end}<br>
    #{if}($sumBelowCount > 0)Общо брой риби: $sumBelowCount#{else}#{end}<br>
<br>
<a href="$webUrl/documents/prior-notification/$elbObject.id?token=$token">Подробен преглед и принтиране на документ</a><br>
</body>
</html>